::-webkit-scrollbar {
  width: calc(2 * var(--gap));
}

::-webkit-scrollbar-track {
  background: var(--primary-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);

  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
